*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

BenchmarkDotNet.Artifacts/

project.lock.json
project.fragment.lock.json
artifacts/

StyleCopReport.xml

*FxCopReport.xml

*roslyn*.json

.idea/

*.codemaid

packages/

*.env
.env.*
! .env.example

iisexpress.config

secrets.json

appsettings.Development.json

*.vspscc
*.vssscc
*.pidb
*.log
*.scc

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.psess
*.vsp
*.vspx
*.sap

*.gpState

*_i.c
*_p.c
*_i.h
*.ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.dotCover
